

.productDes{
    font-family:'Cinzel', serif;
    font-size: 18px;
}
.productQty{

    font-family:'Cinzel', serif;
    font-size: 28px;
    justify-content: center;
    align-items:  center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    
}
.mainFooter{
    font-family:'El Messiri', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}
.mainFooterContact{
    font-family:'El Messiri', sans-serif;
    font-size: 18px;
}
.p-2{
    font-size: 12px;
}
.mt-2{
    font-size: 12px;
}
.footericonstext{
    font-size: 12px;
}